<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado" ></app-detalle>

<div class="card text-dark bg-light my-5">
    <div class="card-header text-center">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>

        <div class="my-3 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" 
            [routerLink]="['/clientes/form']">Crear Cliente</button>
        </div>

        <div *ngIf="clientes?.length == 0" class="alert alert-info">
            No hay registros en la base de datos
        </div>

        <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
            <thead>
                <tr>
                    <th *ngIf="authService.hasRole('ROLE_USER')">Perfil</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                    <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientes">
                    <td *ngIf="authService.hasRole('ROLE_USER')">
                        <img (click)="abrirModal(client)" *ngIf="client?.foto"
                        src="http://localhost:8080/api/clientes/uploads/img/{{client.foto}}" alt="img"
                        class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">

                        <img (click)="abrirModal(client)" *ngIf="!client?.foto"
                        src="http://localhost:8080/images/nousr.png" alt="img"
                        class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    </td>
                    <td> {{ client.nombre }}</td>
                    <td> {{ client.apellido }}</td>
                    <td> {{ client.email }}</td>
                    <td> {{ client.createAt }}</td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')"> <button type="button" 
                        name="editar" 
                        [routerLink]="['/clientes/form', client.id]"
                        class="btn btn-primary"> Editar
                        </button> 
                    </td>
                    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                        <button type="button" 
                        name="eliminar" 
                        (click)='delete(client)'
                        class="btn btn-danger"> Eliminar
                        </button> 
                    </td>
                </tr>
            </tbody>
        </table>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
</div>